# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
/staticfiles/

# Environments
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
.env/
.python-version

# Logs and reports
*.log
coverage/
htmlcov/

# System files
Thumbs.db
